body{
    padding: 0;
    margin: 0;
    /* background: red; */
}
.container{
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container form{
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.box{
    width: 850px;
}

.container table{
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.link-right{
    display: flex;
    justify-content:flex-end;
}

.cont{
        display: flex;
        align-items: center;
        justify-content: center;  
        height: 100vh;
}
.cont .card{
    width: 500px;
    height: 400px;
}